@import url(https://fonts.googleapis.com/css?family=Lato);
/*CSS GRID основаная сетка макета страницы*/
*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Lato', sans-serif;
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 200px minmax(420px, 3fr);
    grid-template-rows: 60px 1fr auto;
    grid-template-areas: "header nav"
                          "main main"
                         "footer footer";
    grid-row-gap: 30px;
    background: url("../img/background.jpg") no-repeat fixed;
    background-size: cover;
    background-position: 50%;
    -webkit-font-smoothing: antialiased;

}

header {
    grid-area:header;
    text-align: center;
    border-bottom: 4px solid orange;
}
nav {
    grid-area: nav;
    border-bottom: 4px solid orange;
    position: relative;
}
header div {
    padding: 5px;
    text-align: center;
}
header, nav {
    background-color: #1f487c;
    color: white;
    height: 100%;
}

main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 85% 1fr;
    grid-template-areas: "left work right";
    grid-gap: 15px;
}

footer {
    grid-area:footer;
    background-color: #1f487c;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-top: 3px solid orange;
}
footer div.info{
    margin-left: 20px;
    max-width: 45%;
}
footer div a {
    color: #fefefe;
    text-decoration: none;
    background: #396588;
    margin-right: 10px;
    padding: 10px 14px 10px 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow: 1px 2px 2px #30698F;
}
footer div a:hover {background: orange;}
footer div a.selected {background: orange;}

.left{grid-area:left;}
.work{grid-area:work;}
.right{grid-area:right;}



/*Для формы входа*/
.passback {
    min-height: max-content;
    background: url("../img/background.jpg") no-repeat fixed;
    background-size: cover;
    background-position: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div.log{
    text-align: center;
    width: 75%;
    margin: 20px;
}
.window {
    margin: 0 auto;
    max-width: 350px;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: inherit;
    border-radius: 12px;
}
.alert {
    color: red;
}


/*Стиль меню навигации*/
ul.nav-menu {
    list-style: none;
    margin-right: 20px;
    margin-top: 31px;
    float: right;
}
ul.nav-menu li {
    display: inline;
}
ul.nav-menu li a {
    color: #fefefe;
    text-decoration: none;
    background: #396588;
    margin: 0;
    padding: 10px 14px 10px 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow: 1px 2px 2px #30698F;
}
ul.nav-menu li a:hover {background: orange;}
ul.nav-menu li a.selected {background: orange;}


/*Стиль главного окна*/
.hello{
    background-color: #1f487c;
    color: white;
    border-radius: 10px;
    margin: 10px 10px 10px 10px;
    padding: 60px 30px 60px 30px;
    text-align: justify;
}
.category {
    margin: 10px 10px 10px 10px;
    width: 100%;

}
.category div{
    width:150px;
    display:inline-block;
    border-radius: 5px;
    height:150px;
    margin: 10px 10px 10px 10px;
}
.category div p {
    text-align: center;
    text-transform: uppercase;
    margin-top: 120px;
    color: black;
}
div.flat{
    background: url("../img/flat.png") #DCDCDC;
    background-position: center ;
    background-size: 80px 80px;
    background-repeat: no-repeat ;
}
.house{
    background: url("../img/house.png") #DCDCDC;
    background-position: center ;
    background-size: 80px 80px;
    background-repeat: no-repeat ;
}
.dacha{
     background: url("../img/dacha.png") #DCDCDC;
     background-position: center ;
     background-size: 80px 80px;
     background-repeat: no-repeat ;
 }
.area{
    background: url("../img/area.png") #DCDCDC;
    background-position: center ;
    background-size: 80px 80px;
    background-repeat: no-repeat ;
}
.category div:hover{
    background: url("../img/ok.png") orange;
    background-position: center ;
    background-size: 80px 80px;
    background-repeat: no-repeat ;
}

.instruct {
    background-color: #1f487c;
    color: white;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px 30px 20px 30px;
    text-align: justify;
}

/* Стили вкладок*/
.tabs {
    min-width: 320px;
}
.tabs>section {
    display: none;
    padding: 25px;
    background: #fff;
    border: 1px solid #ddd;
}
.tabs>section>p {
    margin: 0 0 5px;
    line-height: 1.5;
    color: #383838;
    /* прикрутим анимацию */
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;} to {opacity: 1;}
}
@keyframes fadeIn {
    from {opacity: 0;} to {opacity: 1;}
}

.tabs>input {
    display: none;
    position: absolute;
}
.tabs>label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 10px 20px;
    font-weight: 600;
    text-align: center;
    color: #aaa;
    border: 1px solid #ddd;
    background: #f1f1f1;
    border-radius: 3px 3px 0 0;

}
.tabs>label:before {
    font-weight: bolder;
    margin-right: 10px;
}

.tabs>label[for*="1"]:before {content: "1";}
.tabs>label[for*="2"]:before {content: "2";}
.tabs>label[for*="3"]:before {content: "3";}
.tabs>label[for*="4"]:before {content: "4";}
.tabs>label[for*="5"]:before {content: "5";}

.tabs>label:hover {
    color: #888;
    cursor: pointer;
}
.tabs>input:checked+label {
    color: #555;
    border-top: 3px solid orange;
    border-bottom: 1px solid #fff;
    background: #fff;
}
#tab1:checked~#content-tab1, #tab2:checked~#content-tab2, #tab3:checked~#content-tab3, #tab4:checked~#content-tab4, #tab5:checked~#content-tab5 {
    display: block;
}

@media screen and (max-width: 900px) {
    .tabs>label {
        font-size: 0;
    }
    .tabs>label:before {
        margin: 0;
        font-size: 18px;
    }
}


/* Кнопки */
.button {
    position: relative;
    padding: 12px 20px;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 2px 2px #30698F;
    -webkit-box-shadow: 0px 6px 0px #3a7faa, 0px 9px 25px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 6px 0px #3a7faa, 0px 9px 25px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 6px 0px #3a7faa, 0px 9px 25px rgba(0, 0, 0, 0.7);
    color: white;
    background-color: #458ecc;
    border-radius: 8px;
    border: none;
    outline: 0 none;
    overflow: hidden;
    cursor: pointer;
}
.button:active {
    box-shadow: 0px 3px 0px #3a7faa, 0px 3px 6px rgba(0, 0, 0, 0.9);
    top: 3px;
}



/* Оценка ремонта */
.rating {
    float:left;
}

.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}
.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}
.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover, .rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}
.rating > input:checked + label:hover, .rating > input:checked + label:hover ~ label, .rating > input:checked ~ label:hover, .rating > input:checked ~ label:hover ~ label, .rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}
.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}




.flexcheck{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
}
label.extra{
    font-size: 12pt;
    cursor: pointer;
    color: #fefefe;
    text-decoration: none;
    background: #1f487c;
    margin-bottom: 5px;
    margin-left: 2px;
    margin-right: 2px;
    padding: 8px 12px 8px 12px;
    text-shadow: 1px 2px 2px #30698F;
    border-radius: 5px;
}
.flexcheck input{
    display: none;
}
label.extra:hover {
    background: orange;
    cursor: pointer;
}
input:checked + label.extra {
    color: white;
    background: orange;
}


.flex{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.flexButton{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 30px;

}

.flexButtonAdmin{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 10px;
    margin-top: 20px;
}
#Admin{
    width: 300px;
    margin: 15px;

}
div.form{
    width: 250px;
    margin: 10px;
}
div.form1{
    font-size: 16px ;
    width: 400px;
    margin: 10px;
}
input{
    margin-top:5px;
    padding: 12px 20px;
    border-radius: 5px;
    border: 1px solid #dddddd;
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
}
input:disabled{
    background: #dddddd;
}
input[type=checkbox]{
    margin-left: 25px;
    margin-right: 15px;
    width: 20px;
    transform:scale(1.3);
    opacity:0.9;
    cursor:pointer;
}
input[type=number]{
    margin-top:5px;
    padding: 12px 20px;
    border-radius: 5px;
    border: 1px solid #dddddd;
    width: 50%;
    box-sizing: border-box;
    font-size: 14px;
}
select{
    margin-top:5px;
    border-radius: 5px;
    border: 1px solid #dddddd;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    font-size: 14px;
}

.min{
    font-size: 13pt;
}

.hiden{
    display: none;
}


textarea#gen_text{
    resize: none;
    width: 100%;
    box-sizing: border-box;
    height: 300px;
    font-size: 13pt;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #dddddd;
    margin-top:10px;
}
textarea{
    resize: none;
    width: 100%;
    box-sizing: border-box;
    height: 150px;
    font-size: 13pt;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #dddddd;
    margin-bottom: 10px;
}

table.adminTable{
    border-collapse: collapse;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    border: #dddddd;
}
table.adminTable td.head {
    padding: 10px;
}

table.adminTable input.admin{
    margin-top: 0px;
    padding: 5px 20px;
    border-radius: 0px;
    border: 0px;


}