@import url(https://fonts.googleapis.com/css?family=Lato);
/*CSS GRID основаная сетка макета страницы*/
body {
    font-family: 'Lato', sans-serif;
    display: grid;
    height: 100vh;
    grid-template-columns: 200px minmax(420px, 3fr);
    grid-template-rows: 60px 1fr auto;
    grid-template-areas: "header nav"
                          "main main"
                         "footer footer";
    grid-row-gap: 30px;
}
*{
    margin: 0;
    padding: 0;
}
header {
    grid-area:header;
    border-bottom: 5px solid #bb0000;
}
nav {
    grid-area: nav;
    border-bottom: 5px solid #bb0000;
    position: relative;
}
main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr minmax(60%, 75%) 1fr;
    grid-template-areas: "left work right";
    grid-gap: 15px;
}
footer {
    grid-area:footer;
    background-color: #1f487c;
    color: white;
    padding: 10px;
}
header div {
    padding: 5% 5% 5% 5%;
    text-align: center;
}
header, nav {
    background-color: #1f487c;
    color: white;
    height: 100%;
}
a{
    color: white;
}
.left{grid-area:left;}
.work{grid-area:work;}
.right{grid-area:right;}

/*Стиль меню навигации*/
ul.nav-menu {
    list-style: none;
    margin-right: 20px;
    margin-top: 31px;
    float: right;
}
ul.nav-menu li {
    display: inline;
}
ul.nav-menu li a {
    color: #fefefe;
    text-decoration: none;
    background: #396588;
    margin: 0;
    padding: 10px 14px 10px 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
ul.nav-menu li a:hover {background-color: #bb0000;}
ul.nav-menu li a.selected {background: #bb0000;}

/*Стиль главного окна*/
.hello{
    background-color: #1f487c;
    color: white;
    border-radius: 10px;
    margin: 10px 10px 10px 10px;
    padding: 60px 30px 60px 30px;
    text-align: justify;
}
.category {
    margin: 10px 10px 10px 10px;
    width: 100%;

}
.category div{
    width:150px;
    display:inline-block;
    border-radius: 5px;
    height:150px;
    margin: 10px 10px 10px 10px;
}
.category div p {
    text-align: center;
    text-transform: uppercase;
    margin-top: 120px;
    color: black;
}
div.flat{
    background: url("../img/flat.png") #DCDCDC;
    background-position: center ;
    background-size: 80px 80px;
    background-repeat: no-repeat ;
}
.house{
    background: url("../img/house.png") #DCDCDC;
    background-position: center ;
    background-size: 80px 80px;
    background-repeat: no-repeat ;
}
.dacha{
     background: url("../img/dacha.png") #DCDCDC;
     background-position: center ;
     background-size: 80px 80px;
     background-repeat: no-repeat ;
 }
.area{
    background: url("../img/area.png") #DCDCDC;
    background-position: center ;
    background-size: 80px 80px;
    background-repeat: no-repeat ;
}
.category div:hover{
    background: url("../img/ok.png") #BB0000;
    background-position: center ;
    background-size: 80px 80px;
    background-repeat: no-repeat ;
}

.instruct {
    background-color: #1f487c;
    color: white;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px 30px 20px 30px;
    text-align: justify;
}
/* Базовый контейнер табов*/
.tabs {
    min-width: 320px;
}
/* Стили секций с содержанием */
.tabs>section {
    display: none;
    padding: 20px;
    background: #fff;
    border: 1px solid #ddd;

}
.tabs>section>p {
    margin: 0 0 5px;
    line-height: 1.5;
    color: #383838;
    /* прикрутим анимацию */
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

/* Описываем анимацию свойства opacity */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} to {opacity: 1;}
}
@keyframes fadeIn {
    from {opacity: 0;} to {opacity: 1;}
}
/* Прячем чекбоксы */
.tabs>input {
    display: none;
    position: absolute;
}
/* Стили переключателей вкладок (табов) */
.tabs>label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 10px 20px;
    font-weight: 600;
    text-align: center;
    color: #aaa;
    border: 1px solid #ddd;
    background: #f1f1f1;
    border-radius: 3px 3px 0 0;

}
/* Прикручиваем иконки */
.tabs>label:before {
    font-weight: bolder;
    margin-right: 10px;
}
.tabs>label[for*="1"]:before {content: "1";}
.tabs>label[for*="2"]:before {content: "2";}
.tabs>label[for*="3"]:before {content: "3";}
.tabs>label[for*="4"]:before {content: "4";}
.tabs>label[for*="5"]:before {content: "5";}

/* Изменения стиля переключателей вкладок при наведении */
.tabs>label:hover {
    color: #888;
    cursor: pointer;
}
/* Стили для активной вкладки */
.tabs>input:checked+label {
    color: #555;
    border-top: 2px solid #bb0000;
    border-bottom: 1px solid #fff;
    background: #fff;
}
/* Активация секций с помощью псевдокласса :checked */
#tab1:checked~#content-tab1, #tab2:checked~#content-tab2, #tab3:checked~#content-tab3, #tab4:checked~#content-tab4, #tab5:checked~#content-tab5 {
    display: block;
}
/* Убираем текст с переключателей и оставляем иконки */
@media screen and (max-width: 900px) {
    .tabs>label {
        font-size: 0;
    }
    .tabs>label:before {
        margin: 0;
        font-size: 18px;
    }
}



/* Базовые стили кнопки 3D */
.button {
    /* Относительное позиционирование */
    position: relative;
    /* Устанавливаем внутренние отступы */
    padding: 12px 20px;
    /* Убираем подчёркивание и выравниваем текст по центру */
    text-decoration: none;
    text-align: center;
    /* Размер и начертание шрифта */
    font-size: 20px;
    font-weight: bold;
    /* Эффект тени текста */
    text-shadow: 1px 2px 2px #30698F;
    /* Внешняя тень кнопки */
    -webkit-box-shadow: 0px 9px 0px #3a7faa, 0px 9px 25px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 9px 0px #3a7faa, 0px 9px 25px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 9px 0px #3a7faa, 0px 9px 25px rgba(0, 0, 0, 0.7);
    /* Цвет текста */
    color: white;
    /* Цвет фона кнопки */
    background-color: #458ecc;
    /* Скругляем углы */
    border-radius: 8px;
    /* Убираем рамку */
    border: none;
    outline: 0 none;
    overflow: hidden;
    /* Курсор ввиде руки */
    cursor: pointer;
}

/* Стиль кнопки при нажатии */

.button:active {
    box-shadow: 0px 3px 0px #3a7faa, 0px 3px 6px rgba(0, 0, 0, 0.9);
    top: 6px;
}




.flex{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.flexButton{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 30px;

}
div.form{
    width: 300px;
    margin: 10px;
}
input{
    margin-top:5px;
    padding: 12px 20px;
    border-radius: 5px;
    border: 1px solid #dddddd;
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
}
input[type=checkbox]{
    margin-left: 25px;
    margin-right: 15px;
    width: 20px;
    transform:scale(1.3);
    opacity:0.9;
    cursor:pointer;
}
.min{
    font-size: 13pt;
}
